@use "./base.scss";

// put your custom CSS here!
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twitter-tweet {
  margin: 0 auto;
}

// code {
  // color: #9ECBFF;
  // color: var(--shiki-light);
// }
